*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
section header ul{
    justify-content: center;
    align-items: center;
    display: flex;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    text-decoration: none;
    color: black;
    font-size: 13 px;
}
section header ul li button{
    background-color: rgb(112, 112, 212);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 3px;
    font-weight: bold;

}

section .main{
    justify-content: center;
    align-items: center;
    width: 400px;
    display:flex;
    flex-direction: column;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchbox .scarch{
    width: 100%;
    padding-inline-start: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #0000;
    outline: none;
    font-size: 16px;
}
section .main .searchbox .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
section .main .buttons{
    margin-top: 20px;
    
}
section .main .buttons button{
    margin: 0px 5px;
    padding: 5px 15px;
    color: #555;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 1px solid transparent;
    outline: none;
}
section .main .buttons button:hover{
    border-radius: 1px solid #ccc;
}
section .main .lang{
    margin-top: 20px;
}

section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    width: 100%;
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
}
section .footer .row ul{
    display: flex;
}
section .footer .row ul li{
    list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    margin:20px;
    color: gray;
    font-size: 12px;
}


/*responsive mobile view*/

@media (max-width:768px){
    section .main .searchbox .icons{
        width: 78%;
    }
    section .footer .row ul{
        display: block;
    }
    body{
        padding: 0;
        margin: 0;
    }
    section .main .searchbox {
        width: 70%;
    }
    section .main .searchbox .scarch{
        font-size: 10px;
        width: 60%;
    }
    section header{
        width: 80%;
    }
}
